.navbar {
    display: block;
    width: 100%;
    a {
        text-decoration: none;
        color: #fff;
        padding: 5px;
    }
    .active {
        border: solid #185380;
        border-width: 0 0 3px 0;
    }
    
}
.container {
    lost-column: 1;
    background-color: #185380;
    padding: 20px 20px 0 20px;
}