.container {
    width: 300px;
    padding: 40px 15px;


    /*border: 1px solid #990000;*/
    background-color:#8B008B;
    border-radius: 5px;
}
.half {
    width: 45%;
    display: block;
    float: right;
    padding: 15px;
}