@font-face {
    font-family: 'palanquin';
    src: url('./fonts/palanquin-regular-webfont.woff2') format('woff2'),
         url('./fonts/palanquin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}