@import './_fonts';
:global {
    * {
        box-sizing: border-box;
        font-family: 'palanquin';
    }
    .container {
        lost-utility: clearfix;
        /*lost-column: 4/5;*/
        lost-center: 1200px;
        & .sidebar {
            lost-column: 1/5;
            border-radius: 3px;
            padding: 20px;
            background-color: #ccc;
        }
        & .mainContent {
            lost-column: 4/5;
        }
    }
}